# Copy this file to .env and fill in your real values

# Flask/FastAPI Config
FLASK_DEBUG=1
APP_ENV=production
SECRET_KEY="YOUR_SECRET_KEY_HERE"
JWT_SECRET_KEY="YOUR_JWT_SECRET_KEY_HERE"

# CORS - list of allowed origins
ALLOWED_ORIGINS=http://localhost:8080

# Database use Supabase
SUPABASE_PORT=6543
SUPABASE_DB_URL="YOUR_SUPABASE_DB_URL_HERE"

SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_KEY=YOUR_SERVICE_ROLE_KEY_HERE

# Google OAuth
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID_HERE"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET_HERE"
GOOGLE_DISCOVERY_URL=https://accounts.google.com/.well-known/openid-configuration
GOOGLE_REDIRECT_URI="YOUR_GOOGLE_REDIRECT_URI_HERE"

# GitHub OAuth
GITHUB_CLIENT_ID="YOUR_GITHUB_CLIENT_ID_HERE"
GITHUB_CLIENT_SECRET="YOUR_GITHUB_CLIENT_SECRET_HERE"
GITHUB_REDIRECT_URI="YOUR_GITHUB_REDIRECT_URI_HERE"

# Email for invite teacher
MAIL_USERNAME="YOUR_EMAIL@gmail.com"    # your gmail address
MAIL_PASSWORD="xxxx xxxx xxxx xxxx"     # app password from google (not your normal password)
MAIL_FROM="YOUR_EMAIL@gmail.com"        # email address that appears as sender
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

# Admin
SEED_ADMIN_EMAIL="YOUR_ADMIN_EMAIL_HERE"
SEED_ADMIN_USERNAME="YOUR_ADMIN_USERNAME_HERE"
SEED_ADMIN_PASSWORD="YOUR_ADMIN_PASSWORD_HERE"

# URLs
BACKEND_URL=http://localhost:56733

FRONTEND_URL=http://localhost:8080
FRONTEND_LOGIN_SUCCESS_URI=http://localhost:8080/login-success
FRONTEND_LOGIN_FAILURE_URI=http://localhost:8080/login

VITE_API_BASE_URL=http://localhost:56733/auth